<script lang="ts">
	import type { PageData } from './$types';
    import { Card, Button } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
	<Card>
        <dl class="flex flex-col gap-1 mb-4">
            <dt class="font-bold">E-Mail</dt>
            <dd class="ml-4">{data.user?.email}</dd>
            <dt class="font-bold">Name</dt>
            <dd class="ml-4">{data.user?.name ?? ''}</dd>
            <dt class="font-bold">Created At</dt>
            <dd class="ml-4">{data.user?.createdAt}</dd>
            <dt class="font-bold">Updated At</dt>
            <dd class="ml-4">{data.user?.updatedAt}</dd>
        </dl>
        <div class="flex gap-2">
            <Button href={`/users/${data.user?.id}/edit`} color="primary">Edit</Button>
            <Button href={`/users/${data.user?.id}/delete`}  color="red">Delete</Button>
            <Button href="/users" color="alternative">Cancel</Button>
        </div>
	</Card>
</div>
