<script lang="ts">
	import { Button } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
</script>

<form method="post" action="?/delete">
	<input
		type="hidden"
		id="id"
		name="id"
		value={data.candidate?.id ?? ''}
	/>
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<h5>Are you sure you want to delete {data.candidate?.candidate}?</h5>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Delete</Button>
			<Button href="/candidates" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
