<script lang="ts">
	import type { PageData } from './$types';
    import { Button, Listgroup, ListgroupItem, Checkbox } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
    <dl class="flex flex-col gap-2 mb-4">
        <div class="flex gap-1">
            <dt class="font-bold">Category</dt>
            <dd class="ml-4">{data.category?.category}</dd>
        </div>
        <div class="flex gap-1">
            <dt class="font-bold">Weight</dt>
            <dd class="ml-4">{data.category?.weight}</dd>
        </div>
        <div class="flex gap-1">
            <dt class="font-bold">Locked</dt>
            <dd class="ml-4">{data.category?.locked ? 'Yes' : 'No'}</dd>
        </div>
    </dl>
    <h2 class="text-lg font-bold">Criteria</h2>
    <form method="post" action="?/criteria">
        <div class="flex gap-4 mb-4">
            <Listgroup>
                <ListgroupItem><h5 class="font-bold">Available Criteria</h5></ListgroupItem>
                {#if data.criteria instanceof Array}
                    {#each data.criteria as criterion (criterion.id)}
                        <ListgroupItem>
                            <Checkbox id={`criteria_${criterion.id}`} name="availableCriteria" value={criterion.id}>
                                {criterion.criterion}&nbsp;({criterion.percent}%){criterion.hidden ? '*' : ''}
                            </Checkbox>
                        </ListgroupItem>
                    {:else}
                        <ListgroupItem><span class="italic font-thin">Empty</span></ListgroupItem>
                    {/each}
                {/if}
            </Listgroup>
            <div class="flex flex-col gap-2">
                <Button id="action" name="action" value="add" color="primary" type="submit">Add&nbsp;&gt;&gt;</Button>
                <Button id="action" name="action" value="remove" color="red" type="submit">&lt;&lt;&nbsp;Remove</Button>
            </div>
            <Listgroup>
                <ListgroupItem><h5 class="font-bold">Current Criteria</h5></ListgroupItem>
                {#if data.category?.criteria instanceof Array}
                    {#each data.category.criteria as criterion (criterion.id)}
                        <ListgroupItem>
                            <Checkbox id={`criteria_${criterion.id}`} name="currentCriteria" value={criterion.id}>
                                {criterion.criterion}&nbsp;({criterion.percent}%){criterion.hidden ? '*' : ''}
                            </Checkbox>
                        </ListgroupItem>
                    {:else}
                        <ListgroupItem><span class="italic font-thin">Empty</span></ListgroupItem>
                    {/each}
                {/if}
            </Listgroup>
        </div>
        <div class="text-sm">
            *Hidden criterion
        </div>
    </form>
    <h2 class="text-lg font-bold">Candidates</h2>
    <form method="post" action="?/candidates">
        <div class="flex gap-4 mb-4">
            <Listgroup>
                <ListgroupItem><h5 class="font-bold">Available Candidates</h5></ListgroupItem>
                {#if data.candidates instanceof Array}
                    {#each data.candidates as candidate (candidate.id)}
                        <ListgroupItem>
                            <Checkbox id={`candidates_${candidate.id}`} name="availableCandidates" value={candidate.id}>
                                #{candidate.candidateNumber}&nbsp;{candidate.candidate}&nbsp;({candidate.gender})
                            </Checkbox>
                        </ListgroupItem>
                    {:else}
                        <ListgroupItem><span class="italic font-thin">Empty</span></ListgroupItem>
                    {/each}
                {/if}
            </Listgroup>
            <div class="flex flex-col gap-2">
                <Button id="action" name="action" value="add" color="primary" type="submit">Add&nbsp;&gt;&gt;</Button>
                <Button id="action" name="action" value="remove" color="red" type="submit">&lt;&lt;&nbsp;Remove</Button>
            </div>
            <Listgroup>
                <ListgroupItem><h5 class="font-bold">Current Candidates</h5></ListgroupItem>
                {#if data.category?.candidates instanceof Array}
                    {#each data.category.candidates as candidate (candidate.id)}
                        <ListgroupItem>
                            <Checkbox id={`candidates_${candidate.id}`} name="currentCandidates" value={candidate.id}>
                                #{candidate.candidateNumber}&nbsp;{candidate.candidate}&nbsp;({candidate.gender})
                            </Checkbox>
                        </ListgroupItem>
                    {:else}
                        <ListgroupItem><span class="italic font-thin">Empty</span></ListgroupItem>
                    {/each}
                {/if}
            </Listgroup>
        </div>
    </form>
    <div class="flex gap-2">
        <Button href={`/categories/${data.category?.id}/edit`} color="primary">Edit</Button>
        <Button href={`/categories/${data.category?.id}/delete`}  color="red">Delete</Button>
        <Button href="/categories" color="alternative">Cancel</Button>
    </div>
</div>
