<script lang="ts">
	import '../app.postcss';
	import { Navbar, NavBrand, NavLi, NavUl, NavHamburger } from 'flowbite-svelte';
	import type { PageData } from './$types';

	export let data: PageData;

</script>
<Navbar navClass="px-2 sm:px-4 py-2.5 w-full border-b bg-slate-50" fluid let:hidden let:toggle>
	<NavBrand href="/">
		<span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white">
			{data.title}
		</span>
	</NavBrand>
	<NavHamburger on:click={toggle} />
	{#if data.user !== false}
		<NavUl>
			{#each data.categories as category}
				<NavLi href={`/categories/${category.id}/judging`} active={data?.path === `/categories/${category.id}/judging`}>
					<span class="text-lg uppercase">
						{category.category.toString()}
					</span>
				</NavLi>
			{/each}
		</NavUl>
	{/if}
	<NavUl {hidden}>
		{#if data.user === false}
			<NavLi href="/login">Login</NavLi>
		{:else}
			<NavLi href="/logout">Logout ({data.user})</NavLi>
		{/if}
	</NavUl>
</Navbar>
<div class="flex p-4 mx-auto w-full">
	<main class="w-full mx-auto">
		<slot />
	</main>
</div>
