<script lang="ts">
	import type { PageData } from './$types';
    import { Card, Button } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
	<Card>
        <dl class="flex flex-col gap-1 mb-4">
            <dt class="font-bold">Criterion</dt>
            <dd class="ml-4">{data.criterion?.criterion}</dd>
            <dt class="font-bold">Percent</dt>
            <dd class="ml-4">{data.criterion?.percent}</dd>
            <dt class="font-bold">Hidden</dt>
            <dd class="ml-4">{data.criterion?.hidden ? 'Yes' : 'No'}</dd>
        </dl>
        <div class="flex gap-2">
            <Button href={`/criteria/${data.criterion?.id}/edit`} color="primary">Edit</Button>
            <Button href={`/criteria/${data.criterion?.id}/delete`}  color="red">Delete</Button>
            <Button href="/criteria" color="alternative">Cancel</Button>
        </div>
	</Card>
</div>
