<script lang="ts">
	import { Input, Label, Button, Helper, Alert, Radio } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
	export let form: ActionData;
	let gender = form?.gender ?? data.candidate?.gender ?? '';
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="candidateNumber" class="mb-2">Candidate Number</Label>
			<Input type="number" id="candidateNumber" name="candidateNumber" value={form?.candidateNumber ?? data.candidate?.candidateNumber ?? ''} required />
			{#if form?.error && form?.cause === 'candidateNumber'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="candidate" class="mb-2">Candidate</Label>
			<Input type="text" id="candidate" name="candidate" value={form?.candidate ?? data.candidate?.candidate ?? ''} required />
			{#if form?.error && form?.cause === 'candidate'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Radio id="gender-m" name="gender" value='M' group={gender}>Male</Radio>
			<Radio id="gender-f" name="gender" value='F' group={gender}>Female</Radio>
			{#if form?.error && form?.cause === 'gender'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/candidates" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
