<script lang="ts">
	import { Input, Label, Button, Helper, Alert } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
	export let form: ActionData;
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="name" class="mb-2">name</Label>
			<Input
				type="text"
				id="name"
				name="name"
				value={data.setting?.name ?? form?.name ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'name'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="value" class="mb-2">value</Label>
			<Input
				type="text"
				id="value"
				name="value"
				value={data.setting?.value ?? form?.value ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'value'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/settings" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
