<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/candidates/new" color="primary">Create Candidate</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>#</TableHeadCell>
			<TableHeadCell>Candidate</TableHeadCell>
			<TableHeadCell>Gender</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.candidates as candidate}
                <TableBodyRow>
                    <TableBodyCell>{candidate.candidateNumber}</TableBodyCell>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/candidates/${candidate.id}`}>{candidate.candidate}</a></TableBodyCell>
					<TableBodyCell>{candidate.gender}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/candidates/${candidate.id}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/candidates/${candidate.id}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
