<script lang="ts">
	import { Input, Label, Button, Helper, Alert } from 'flowbite-svelte';
	import type { ActionData } from './$types';

	export let form: ActionData;
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="email" class="mb-2">E-Mail</Label>
			<Input
				type="text"
				id="email"
				name="email"
				placeholder="john.doe@example.com"
				value={form?.email ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'email'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="name" class="mb-2">Name</Label>
			<Input
				type="text"
				id="name"
				name="name"
				value={form?.name ?? ''}
			/>
			{#if form?.error && form?.cause === 'name'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="password" class="mb-2">Password</Label>
			<Input type="password" id="password" name="password" required />
			{#if form?.error && form?.cause === 'password'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="password2" class="mb-2">Re-enter Password</Label>
			<Input type="password" id="password2" name="password2" required />
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/users" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
