<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/categories/new" color="primary">Create Category</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>Category</TableHeadCell>
			<TableHeadCell>Weight</TableHeadCell>
			<TableHeadCell>Locked</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.categories as category}
                <TableBodyRow>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/categories/${category.id}`}>{category.category}</a></TableBodyCell>
										<TableBodyCell>{category.weight}</TableBodyCell>
                    <TableBodyCell>{category.locked ? 'Yes' : 'No'}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/categories/${category.id}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/categories/${category.id}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
