<script lang="ts">
	import type { PageData } from './$types';
    import { Card, Button } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
	<Card>
        <dl class="flex flex-col gap-1 mb-4">
            <dt class="font-bold">Role</dt>
            <dd class="ml-4">{data.role?.role}</dd>
            <dt class="font-bold">Permissions</dt>
            <dd class="ml-4">{data.role?.permissions}</dd>
        </dl>
        <div class="flex gap-2">
            <Button href={`/roles/${data.role?.id}/edit`} color="primary">Edit</Button>
            <Button href={`/roles/${data.role?.id}/delete`}  color="red">Delete</Button>
            <Button href="/roles" color="alternative">Cancel</Button>
        </div>
	</Card>
</div>
