<script lang="ts">
	import { Button, Alert } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';
	import { goto } from '$app/navigation';

	export let data: PageData;
	export let form: ActionData;
</script>

<form method="post" action="?/delete">
	<input
		type="hidden"
		id="id"
		name="id"
		value={data.user?.id ?? ''}
	/>
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<h5>Are you sure you want to delete {data.user?.email}?</h5>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Delete</Button>
			<Button href="/users" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
