<script lang="ts">
	import { Input, Label, Button, Helper, Alert, Checkbox } from 'flowbite-svelte';
	import type { ActionData } from './$types';

	export let form: ActionData;
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="category" class="mb-2">Category</Label>
			<Input type="text" id="category" name="category" value={form?.category ?? ''} required />
			{#if form?.error && form?.cause === 'category'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="weight" class="mb-2">Weight</Label>
			<Input type="number" id="weight" name="weight" value={form?.weight ?? ''} required />
			{#if form?.error && form?.cause === 'weight'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Checkbox id="locked" name="locked" value="1" checked={form?.locked ?? false}>Locked</Checkbox>
			{#if form?.error && form?.cause === 'locked'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/categories" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
