<script lang="ts">
	import type { PageData } from './$types';
    import { Card, Button } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
	<Card>
        <dl class="flex flex-col gap-1 mb-4">
            <dt class="font-bold">Name</dt>
            <dd class="ml-4">{data.setting?.name}</dd>
            <dt class="font-bold">Value</dt>
            <dd class="ml-4">{data.setting?.value}</dd>
        </dl>
        <div class="flex gap-2">
            <Button href={`/settings/${data.setting?.name}/edit`} color="primary">Edit</Button>
            <Button href={`/settings/${data.setting?.name}/delete`}  color="red">Delete</Button>
            <Button href="/settings" color="alternative">Cancel</Button>
        </div>
	</Card>
</div>
