<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/settings/new" color="primary">Create Setting</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Value</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.settings as setting}
                <TableBodyRow>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/settings/${setting.name}`}>{setting.name}</a></TableBodyCell>
                    <TableBodyCell>{setting.value}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/settings/${setting.name}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/settings/${setting.name}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
