<script lang="ts">
	import type { PageData } from './$types';
    import { Card, Button } from 'flowbite-svelte';

	export let data: PageData;
</script>

<div class="flex flex-col gap-4">
	<Card>
        <dl class="flex flex-col gap-1 mb-4">
            <dt class="font-bold">Candidate #</dt>
            <dd class="ml-4">{data.candidate?.candidateNumber}</dd>
            <dt class="font-bold">Candidate</dt>
            <dd class="ml-4">{data.candidate?.candidate}</dd>
            <dt class="font-bold">Gender</dt>
            <dd class="ml-4">{data.candidate?.gender}</dd>
        </dl>
        <div class="flex gap-2">
            <Button href={`/candidates/${data.candidate?.id}/edit`} color="primary">Edit</Button>
            <Button href={`/candidates/${data.candidate?.id}/delete`}  color="red">Delete</Button>
            <Button href="/candidates" color="alternative">Cancel</Button>
        </div>
	</Card>
</div>
