<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/roles/new" color="primary">Create role</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>Role</TableHeadCell>
			<TableHeadCell>Permissions</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.roles as role}
                <TableBodyRow>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/roles/${role.id}`}>{role.role}</a></TableBodyCell>
                    <TableBodyCell>{role.permissions}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/roles/${role.id}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/roles/${role.id}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
