<script lang="ts">
	import type { ActionData, PageData } from './$types';
	import {
		Button,
		Input,
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Alert
	} from 'flowbite-svelte';
	import { applyAction, deserialize } from '$app/forms';
	import { goto } from '$app/navigation';
	import type { Candidate, Criterion } from '@prisma/client';

	export let data: PageData;
	export let form: ActionData;
	
	let response = null;
	let error: string | false = false;
	const onScoreChange = (event: Event, candidate: Candidate, criterion: Criterion) => {
		error = false;
		const target = <HTMLInputElement>event.target;
		target.value = parseFloat(target.value).toString();
		target.style.backgroundColor = '';
		if (
			target.value.length > 0 &&
			(isNaN(parseFloat(target.value)) || parseFloat(target.value) <= 0 || criterion.percent < parseFloat(target.value))
		) {
			target.value = '';
			target.focus();
			target.style.backgroundColor = '#F87171';
			error = 'Please enter a valid score.';
			return;
		}

		if (target.form instanceof HTMLFormElement) {
			const formData = new FormData(target.form);
			response = fetch(target.form.action, {
				method: 'post',
				body: formData
			});
			response
				.then(async (value) => {
					return await value.text();
				})
				.then(async (value) => {
					const result = deserialize(value);
					if (result.type === 'success') return;
					await applyAction(result);
				});
		}
	};

    const validateAll = ((event: Event) => {
		error = false;
        let hasErrors = false;
        const target = <HTMLFormElement>event.target;
        const fields = target.querySelectorAll('input[type="text"]');
        fields.forEach((value) => {
            let field = <HTMLInputElement>value;
            field.value = parseFloat(field.value).toString();
            field.style.backgroundColor = '';
            if (
                field.value.trim().length === 0 ||
                isNaN(parseFloat(field.value)) || 
                parseFloat(field.value) <= 0
            ) {
                hasErrors = true;
                field.value = '';
                field.style.backgroundColor = '#F87171';
            }
        });
        if (hasErrors) {
            event.preventDefault();
            error = 'Some fields are missing or with an invalid score.';
        }
    });

	const onErrorClosed = () => {
		if (form?.error)
			form.error = '';
	}

	const candidateScores = new Map<number, Map<number, number>>();
	data.scores?.forEach((score) => {
		let criteria = candidateScores.get(score.candidateId);
		if (criteria === undefined) {
			criteria = new Map<number, number>();
		}
		criteria.set(score.criterionId, score.score);
		candidateScores.set(score.candidateId, criteria);
	});

	const getScore = (candidateId: number, criterionId: number) => {
		let criteria = candidateScores.get(candidateId);
		if (criteria === undefined) return '';
		return criteria.get(criterionId) ?? '';
	};
</script>
{#if form?.success}
<Alert color="green">
	{form?.success}
</Alert>
{/if}
{#if form?.error}
<Alert color="red" on:close={onErrorClosed} dismissable>
	{form?.error}
</Alert>
{/if}
{#if error}
<Alert color="red" on:close={() => error = false} dismissable>
	{error}
</Alert>
{/if}
{#if data.category}
	<form method="post" class="flex flex-col gap-4" on:submit={validateAll}>
		<Table>
			<TableHead>
				<TableHeadCell>
					<div class="text-base">{data.category.category}</div>
				</TableHeadCell>
				{#each data.category.criteria ?? [] as criterion (criterion.id)}
					<TableHeadCell>{criterion.criterion} ({criterion.percent}%)</TableHeadCell>
				{/each}
			</TableHead>
			<TableBody>
				{#each data.category.candidates ?? [] as candidate (candidate.id)}
					<TableBodyRow>
						<TableBodyCell
							>#{candidate.candidateNumber}&nbsp;{candidate.candidate}&nbsp;({candidate.gender})</TableBodyCell
						>
						{#each data.category.criteria ?? [] as criterion (criterion.id)}
							<TableBodyCell>
								<Input
									type="text"
									id={`score-${candidate.id}-${criterion.id}`}
									name={`score[${candidate.id}][${criterion.id}]`}
									on:change={(event) => onScoreChange(event, candidate, criterion)}
									value={getScore(candidate.id, criterion.id)}
								/>
							</TableBodyCell>
						{/each}
					</TableBodyRow>
				{/each}
			</TableBody>
		</Table>
		<Button type="submit">Save</Button>
	</form>
{/if}
