<script lang="ts">
	import { Input, Label, Button, Helper, Alert } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
	export let form: ActionData;
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<input type="hidden" id="id" name="id" value={data.role?.id ?? ''} />
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="role" class="mb-2">Role</Label>
			<Input
				type="text"
				id="role"
				name="role"
				value={data.role?.role ?? form?.role ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'role'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="permissions" class="mb-2">Permissions</Label>
			<Input
				type="text"
				id="permissions"
				name="permissions"
				value={data.role?.permissions ?? form?.permissions ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'permissions'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/roles" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
