<script lang="ts">
	import { Input, Label, Button, Helper, Alert, Checkbox } from 'flowbite-svelte';
	import type { ActionData } from './$types';

	export let form: ActionData;
</script>

{#if form?.success}
	<div class="mb-2">
		<Alert color="green">
			{form?.success}
		</Alert>
	</div>
{/if}
{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="criterion" class="mb-2">Criterion</Label>
			<Input type="text" id="criterion" name="criterion" value={form?.criterion ?? ''} required />
			{#if form?.error && form?.cause === 'criterion'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="percent" class="mb-2">Percent</Label>
			<Input type="text" id="percent" name="percent" value={form?.percent ?? ''} required />
			{#if form?.error && form?.cause === 'percent'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="weight" class="mb-2">Weight</Label>
			<Input type="number" id="weight" name="weight" value={form?.weight ?? '0'} required />
			{#if form?.error && form?.cause === 'weight'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Checkbox id="hidden" name="hidden" value="1" checked={form?.hidden === true}>Hidden</Checkbox>
			{#if form?.error && form?.cause === 'hidden'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/criteria" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
