<script lang="ts">
	import type { ActionData, PageData } from './$types';
	import {
		Button,
		Input,
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Alert
	} from 'flowbite-svelte';
	import { applyAction, deserialize } from '$app/forms';
	import type { Candidate, CandidateScore, Criterion, User } from '@prisma/client';
	import { stringify } from 'postcss';

	export let data: PageData;

	let response = null;
	let error: string | false = false;
	type CandidateMap =
		| (Map<number, CriterionMap> & {
				sum?: number;
		  })
		| undefined;
	type CriterionMap =
		| (Map<number, ScoreMap> & {
				average?: number;
				sum?: number;
				count?: number;
		  })
		| undefined;
	type ScoreMap =
		| {
				id: number;
				name: string;
				score: number;
		  }
		| undefined;

	const criterionIds = data.category?.criteria.map((criterion) => criterion.id);
	const candidateScores = new Map<number, CandidateMap>();
	data.category?.candidates.forEach((candidate) => {
		const candidateMap: CandidateMap =
			candidateScores.get(candidate.id) ?? new Map<number, CriterionMap>();
		candidate.scores.forEach((score) => {
			if (!criterionIds?.includes(score.criterionId)) return;
			const criterionMap: CriterionMap =
				candidateMap.get(score.criterionId) ?? new Map<number, ScoreMap>();
			const scoreMap: ScoreMap = criterionMap.get(score.userId) ?? {
				id: score.userId,
				name: score.user.name ?? score.user.email,
				score: score.score
			};
			criterionMap.set(scoreMap.id, scoreMap);
			candidateMap.set(score.criterionId, criterionMap);
		});

		for (const [criterionMapKey, criterionMap] of candidateMap) {
			if (criterionMap) {
				for (const [scoreMapKey, scoreMap] of criterionMap ?? []) {
					if (scoreMap) {
						criterionMap.sum = (criterionMap.sum ?? 0) + scoreMap.score;
						criterionMap.count = (criterionMap.count ?? 0) + 1;
						criterionMap.average = criterionMap.sum / criterionMap.count;
						criterionMap.set(scoreMapKey, scoreMap);
					}
				}
				candidateMap.set(criterionMapKey, criterionMap);
				candidateMap.sum = (candidateMap.sum ?? 0) + (criterionMap.average ?? 0);
			}
		}
		candidateScores.set(candidate.id, candidateMap);
	});

	const getCandidateUserScores = (candidate: Candidate, criterion: Criterion) => {
		const candidateMap = candidateScores.get(candidate.id);
		if (!candidateMap) return [];

		const criterionMap = candidateMap.get(criterion.id);
		if (!criterionMap) return [];
		return [...criterionMap];
	};

	const getCandidateCriteriaAverage = (candidate: Candidate, criterion: Criterion) => {
		const candidateMap = candidateScores.get(candidate.id);
		if (!candidateMap) return;

		const criterionMap = candidateMap.get(criterion.id);
		if (!criterionMap) return;
		return criterionMap.average;
	};

	const getCandidateTotal = (candidate: Candidate) => {
		return candidateScores.get(candidate.id)?.sum ?? 0;
	};

	type ScoreRow = {
		candidate: Candidate & {
			scores: (CandidateScore & { user: User })[];
		};
		averages: Map<number, number>;
		total: number;
	};
	let scoreRows: Map<number, ScoreRow> = new Map<number, ScoreRow>;
	for (const candidate of data?.category?.candidates ?? []) {
		let scoreRow: ScoreRow = scoreRows.get(candidate.id) ?? {
			candidate,
			averages: new Map<number, number>(),
			total: 0,
		};
		for (const criterion of data?.category?.criteria ?? []) {
			scoreRow.averages.set(criterion.id, getCandidateCriteriaAverage(candidate, criterion) ?? 0);
		}
		scoreRow.total = getCandidateTotal(candidate);
		scoreRows.set(candidate.id, scoreRow);
	}
	scoreRows = new Map(([...scoreRows.entries()].sort((a, b) => b[1].total - a[1].total)));
</script>

{#if error}
	<Alert color="red" on:close={() => (error = false)} dismissable>
		{error}
	</Alert>
{/if}
{#if data.category}
	<Table hoverable>
		<TableHead>
			<TableHeadCell>
				<div class="text-base">{data.category.category}</div>
			</TableHeadCell>
			{#each data.category.criteria ?? [] as criterion (criterion.id)}
				<TableHeadCell>
					<div class="text-center">
						{criterion.criterion} ({criterion.percent}%)
					</div>
				</TableHeadCell>
			{/each}
			<TableHeadCell>
				<div class="text-center">Total</div>
			</TableHeadCell>
		</TableHead>
		<TableBody>
			{#each [...scoreRows] as [key, scoreRow](scoreRow.candidate.id)}
				<TableBodyRow>
					<TableBodyCell>
						#{scoreRow.candidate.candidateNumber}&nbsp;{scoreRow.candidate.candidate}&nbsp;({scoreRow.candidate.gender})
					</TableBodyCell>
					{#each data?.category.criteria as criterion(criterion.id)}
						<TableBodyCell tdClass="whitespace-nowrap font-medium text-center">
							{scoreRow.averages.get(criterion.id)}
						</TableBodyCell>
					{/each}
					<TableBodyCell tdClass="whitespace-nowrap font-bold text-center">
						{scoreRow.total}
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</Table>
{/if}
