<script lang="ts">
	import { Input, Label, Button, Helper, Alert, Checkbox } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
	export let form: ActionData;
</script>

{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="criterion" class="mb-2">Criterion</Label>
			<Input type="text" id="criterion" name="criterion" value={data.criterion?.criterion ?? form?.criterion ?? ''} required />
			{#if form?.error && form?.cause === 'criterion'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="percent" class="mb-2">Percent</Label>
			<Input type="text" id="percent" name="percent" value={data.criterion?.percent ?? form?.percent ?? ''} required />
			{#if form?.error && form?.cause === 'percent'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="weight" class="mb-2">Weight</Label>
			<Input type="text" id="weight" name="weight" value={data.criterion?.weight ?? form?.weight ?? ''} required />
			{#if form?.error && form?.cause === 'weight'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Checkbox id="hidden" name="hidden" value="1" checked={data.criterion?.hidden ?? form?.hidden ?? false}>Hidden</Checkbox>
			{#if form?.error && form?.cause === 'hidden'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/criteria" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
