<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/users/new" color="primary">Create User</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>E-Mail</TableHeadCell>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Date Created</TableHeadCell>
			<TableHeadCell>Date Updated</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.users as user}
                <TableBodyRow>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/users/${user.id}`}>{user.email}</a></TableBodyCell>
                    <TableBodyCell>{user.name ?? ''}</TableBodyCell>
										<TableBodyCell>{user.createdAt}</TableBodyCell>
                    <TableBodyCell>{user.updatedAt}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/users/${user.id}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/users/${user.id}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
