<script lang="ts">
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		Button
	} from 'flowbite-svelte';

    import type { PageData } from './$types';

    export let data: PageData;
</script>

<div class="flex flex-col gap-6 mb-6">
	<div class="flex gap-2">
		<Button href="/criteria/new" color="primary">Create Criterion</Button>
	</div>
	<Table>
		<TableHead>
			<TableHeadCell>Criterion</TableHeadCell>
			<TableHeadCell>Percent</TableHeadCell>
			<TableHeadCell>Weight</TableHeadCell>
			<TableHeadCell>Hidden</TableHeadCell>
            <TableHeadCell>Action</TableHeadCell>
		</TableHead>
		<TableBody>
            {#each data.criteria as criterion}
                <TableBodyRow>
                    <TableBodyCell><a class="text-blue-700 underline" href={`/criteria/${criterion.id}`}>{criterion.criterion}</a></TableBodyCell>
                    <TableBodyCell>{criterion.percent}</TableBodyCell>
										<TableBodyCell>{criterion.weight}</TableBodyCell>
										<TableBodyCell>{criterion.hidden ? 'Yes' : 'No'}</TableBodyCell>
                    <TableBodyCell>
                        <a class="text-blue-700" href={`/criteria/${criterion.id}/edit`}>Edit</a>
                        <a class="text-blue-700" href={`/criteria/${criterion.id}/delete`}>Delete</a>
                    </TableBodyCell>
                </TableBodyRow>
            {/each}
		</TableBody>
	</Table>
</div>
