<script lang="ts">
	import { Input, Label, Button, Helper, Alert } from 'flowbite-svelte';
	import type { ActionData, PageData } from './$types';

	export let data: PageData;
	export let form: ActionData;
</script>

{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post" action="?/save">
	<input
		type="hidden"
		id="id"
		name="id"
		value={data.user?.id ?? ''}
	/>
	<div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
			<Label for="email" class="mb-2">E-Mail</Label>
			<Input
				type="text"
				id="email"
				name="email"
				placeholder="john.doe@example.com"
				value={data.user?.email ?? form?.email ?? ''}
				required
			/>
			{#if form?.error && form?.cause === 'email'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="name" class="mb-2">Name</Label>
			<Input type="text" id="name" name="name" value={data.user?.name ?? form?.name ?? ''} />
			{#if form?.error && form?.cause === 'name'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="password" class="mb-2">Password</Label>
			<Input type="password" id="password" name="password"/>
			{#if form?.error && form?.cause === 'password'}
				<Helper class="mt-2" color="red">{form.error}</Helper>
			{/if}
		</div>
		<div>
			<Label for="password2" class="mb-2">Re-enter Password</Label>
			<Input type="password" id="password2" name="password2"/>
		</div>
		<div class="flex gap-2">
			<Button type="submit" color="primary">Save</Button>
			<Button href="/users" color="alternative">Cancel</Button>
		</div>
	</div>
</form>
