<script lang="ts">
	import { Alert, Button, Input, Label } from "flowbite-svelte";
    import type { ActionData } from "./$types";

    export let form: ActionData;
</script>

{#if form?.error}
	<div class="mb-2">
		<Alert color="red">
			{form?.error}
		</Alert>
	</div>
{/if}
<form method="post">
    <div class="flex flex-col gap-4 md:grid-cols-2">
		<div>
            <Label for="email">E-Mail</Label>
            <Input type="text" id="email" name="email" required />
        </div>
        <div>
            <Label for="password">Password</Label>
            <Input type="password" id="password" name="password" required />
        </div>
        <div class="flex gap-2">
			<Button type="submit" color="primary">Login</Button>
		</div>
    </div>
</form>